<!DOCTYPE html>
<html lang="es" xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script>
    // mejorar esta guasada!!! 
    // Esperar 5 segundos antes de ocultar el elemento
    setTimeout(function () {
        document.querySelector('.card').style.display = 'none';
    }, 5000);
</script>


<head>
    <title>Logueo </title>

    <head th:replace="/fragments/header :: head"> </head>
</head>


<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>
    <div class="d-flex">
        

        <div class="container m-5">

            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 text-center">
                <div class="card-body">
                    <h5 class="card-title text-center">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <div th:if="${exitoReg}!=null" class="card text-white bg-success mb-3 text-center">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exitoReg}"></p>
                </div>

            </div>

            <div th:if="${logout}!=null" class="card text-white bg-success mb-3 text-center">
                <div class="card-body">
                    <p class="card-text" th:text="${logout}"></p>
                </div>
            </div>

            <div th:if="${modificacionOK}!=null" class="card text-white bg-success mb-3 text-center">
                <div class="card-body">
                    <p class="card-text" th:text="${modificacionOK}"></p>
                </div>
            </div>

            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="m-2">
                            <img th:src="@{../img/Login.png}" alt="Logo" style="width: 200px;">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form th:action="@{/logincheck}" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" name="email" class="form-control input_user" value=""
                                    placeholder="ingrese su Email">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="password" class="form-control input_pass" value=""
                                    placeholder="ingrese su password">
                            </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="submit" class="btn btn-info">Login</button>
                            </div>
                        </form>
                    </div>

                </div>


            </div>
        </div>


    </div>


    <footer th:replace="/fragments/footer :: footer"></footer>

</body>

</html>