<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="/fragments/header :: head"> </head>

<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>
    <br>
        
    <div class="d-flex justify-content-center" >
        <div class="alert alert-success w-75 d-flex justify-content-center" th:if="${exito != null}" th:text="${exito}" role="alert"></div>
    </div>
    <br>
    <div>
        <h1 class="container text-center"> Panel </h1>
        <h1 class="container text-center" th:if="${session.usuariosession.role.toString() == 'ADMIN'}" th:text="Administrador"> </h1>
        <h1 class="container text-center" th:if="${session.usuariosession.role.toString() == 'USER'}" th:text="Usuario"> </h1>
    </div>

    <br>
    <div class="container text-center">
        <a th:href="@{/agregar}" sec:authorize="hasRole('ADMIN')" class="btn btn-success ms-auto p-5 ">Agregar Producto</a>
        <a th:href="@{/listar}" sec:authorize="hasAnyRole('ADMIN', 'USER')" class="btn btn-success ms-auto p-5 ">Nuevo Pedido</a>
        <a th:href="@{/pedido/historial}" sec:authorize="hasRole('ADMIN')" class="btn btn-success ms-auto p-5 ">Historial Pedidos</a>
        
    </div>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>